@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

input {
    font-family: 'Nunito', sans-serif;
}

body {
  background: url('imgs/sunny.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0px 0px 3px #000;

}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.weather-forecast{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    color: #fff;
    border-radius: 10px;

}

#daily-weather-info {
  margin-top: 3vw;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
  z-index: 1;
}

#current-location {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 500;
}

#current-weather-container {
  font-size: 3rem;
  display: flex;
  margin: 20px;
}

#current-weather-icon {
  margin: 0;
  line-height: 3rem;
}

#current-description {
  margin: 0px 20px;
  line-height: 3rem;
}

#current-temperature {
  font-size: 6rem;
  font-weight: 600;

  line-height: 6rem;
}

#current-temp-range {
  display: flex;
  font-size: 1.3rem;
}

#current-feel {
  margin-left: 30px;
  
}

#current-wind-info {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-evenly;
  line-height: 1.3rem;
}

#current-wind-info p {
  margin-top: 0px;
}

#current-wind-speed {
    margin-left: 10px;
}
#current-wind-direction {
  margin-left: 10px;
}

#current-atmospheric-info {
  display: flex;
  font-size: 1.3rem;
}

#current-atmospheric-info p {
  margin-top: 0px;
}

#current-pressure {
  margin-left: 20px;
}

#search-wrapper{
  opacity: 0.5;
  cursor: pointer;
}

#search-wrapper:hover{
  opacity: 1;
}

#city-input{
    background: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255);
    width: 400px;
    font-size: 1.5rem;
    padding: 0;
    color:#fff;
    cursor: pointer;
    line-height: 50px;
    box-sizing: border-box;
}

#city-input:focus{
    outline: none;

}

#city-input::placeholder{
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    opacity: 0.5;

}



#search-icon{
  color: #fff;
  position: relative;
  left: -30px;
  font-size: 1.5rem;
  cursor:pointer;
}

#search-icon:hover{
  opacity: 1;
}

#search-icon:active{
  transform: scale(0.90);
}

.header{
    display: flex;
    flex-flow: row wrap;
    width: 500px;
}

#select-wrapper{
  font-size: 1.5rem;
  width: 60px;
  color: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
}

#select-wrapper{
  opacity: 0.5;
}

#select-wrapper:hover, #select-wrapper:focus, #select-wrapper:active{
  opacity: 1;
}

#unit-select{
    border-bottom: 1px solid rgba(255, 255, 255);
}




.drop-down{
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    z-index: 99;
    display: none;

}

#option-one{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#option-one, #option-two{
  line-height: 50px;
    width: 60px;
    opacity: 0.8;
}

#option-one:hover, #option-two:hover{
    background-color: rgba(255, 255, 255, 0.15)
}


#weekly-forecast{
    width: 95vw;
    height: 250px;
    margin-bottom: 1vw;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#error-message{
  color: red;
 text-shadow: 1px 1px 0px #000;
padding-top: -10px;
 margin-bottom: -50px;
}